@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.App {
  text-align: center;
  margin-top: 20px;
  font-family: 'Architects Daughter', cursive;
}

.app-header {
  padding: 20px 35px;
  margin: 0;
  background-color: #FFC545;
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid #F0B23E;
}

.translate-jumbotron {
  border-radius: 0 0 5px 5px!important;
  height: 180px;
  padding-top: 35px;
}

.card-body {
  background-color: #FFFAFA;
}

.card-title.h5 {
  color: black;
}

.nav {
  justify-content: space-between;
}

a {
  color: #FFFAFA;
}

a:hover {
  color: #15A3B8;
  text-decoration: none;
}

.jumbotron {
  background-color: #FFC545!important;
  color:#FFFAFA;
}

.form-control-lg {
  background-color: #FFFAFA;
}

.card {
  border-color: #FFC545;
  margin: 10px 0;
}

.translated-item {
  height: 230px;
  padding-top: 20px;
}

.profile-page-buttons {
  display: flex;
  justify-content: space-evenly;
  width: 30vw;
  margin: 0 auto;
}

.log-in-jumbotron {
  padding: 30px;
}